@using MvsStok.Models.Entity;
@model List<Tbl_Musteriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
        <b>Aranacak Müşteri Adı:</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri Ad</th>
        <th>Müşteri Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Alert</th>
    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <th>@musteri.MusteriID</th>
                <td>@musteri.MusteriAd</td>
                <td>@musteri.MusteriSoyad</td>
                <td><a href="/Musteri/Sil/@musteri.MusteriID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Musteri/MusteriGetir/@musteri.MusteriID" class="btn btn-success">Güncelle</a></td>
                <td>@Html.ActionLink("Sil", "Sil", new { id = musteri.MusteriID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor musunuz?')" })</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>