@model MvsStok.Models.Entity.Tbl_Musteriler
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.MusteriID)
        @Html.TextBoxFor(m => m.MusteriID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MusteriAd)
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MusteriSoyad)
        @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-success">Güncelle</button>
    </div>
}
